*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60rem;
    margin: 2rem auto;
    text-align: center;
    gap: 2rem;
}

.card{
  margin: 15rem auto;
    width: 10rem;
}

.container{
    text-align: center;
}


.modals2{
  display: flex;
  justify-content:center;
  margin: 2rem;
  padding: 3rem;
  gap: 2rem;
  
}
.modals{
  width: 50rem;
  margin: 5rem auto;
  background-color: rgb(37, 45, 158);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(12, 12, 12);
}
h2{
  color: rgb(122, 7, 7);
}