*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60rem;
  margin: 2rem auto;
  text-align: center;
  gap: 2rem;
}


.container{
  text-align: center;
  background: rgba(38, 57, 230, 0.836);
background: linear-gradient(0deg, rgba(23, 25, 146, 0.459) 0%, rgb(244, 243, 250) 100%);
min-height: 100vh;
padding-bottom: 2rem;
}
.modals2 img{
width: 9rem;
height: auto;
}


.modals2{
display: flex;
justify-content:space-around;
padding: 3rem;

}
.modals{
width: 50rem;
margin: 5rem auto;
background-color: rgb(124, 147, 207);
border-radius: 10px;

}

.title{
display: flex;
flex-direction: column;
gap: 1rem;
position: relative;
width: 20rem;
}
.title .close{
position: absolute;
right: -4rem;
width: 2.5rem;
}
.sec{
padding: 2rem;
}
h2{
  font-weight: bold;
color: rgb(150, 7, 7);
}
h1{
margin-bottom: 1rem;
}

input{
padding:0.5rem 1.5rem;
border: none;
margin-right: 1rem;
border-radius: 10px;
}

button{
padding: 0.5rem 1rem;
border: none;
border-radius: 10px;
background-color: rgba(26, 34, 182, 0.514);
}

button:hover{
transform: scale(1.1);
cursor: pointer;
background-color: rgb(56, 69, 189);
}


form{
background: rgb(34, 50, 195);
background: linear-gradient(90deg, rgb(32, 39, 142) 0%, rgb(42, 62, 128) 49%, rgb(58, 66, 180) 100%);
padding: 1rem;
}

.card{
box-shadow: rgb(15, 19, 68) 0px 2px 4px,rgb(19, 26, 59) 0px 7px 13px -3px,rgb(42, 63, 130) 0px -3px 0px inset;
padding: 1rem;
width: 12rem;
height: 18rem;
overflow: hidden;
}
.card:hover{
transform: scale(1.1);
cursor: pointer;
}