*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60rem;
    margin: 2rem auto;
    text-align: center;
    gap: 2rem;
}

.card{

    width: 10rem;
}

.container{
    text-align: center;
}


.modals2{
  display: flex;
  justify-content:center;
  margin: 2rem;
  padding: 3rem;
  gap: 2rem;

  
}
.modals{

  width: 50rem;
  margin: 10rem auto;
  background-color: rgba(201, 60, 138, 0.479);
  border-radius: 10px;
  box-shadow: 5px 5px 50px rgba(12, 12, 12, 0.767);
}
h2{
  color: rgb(7, 9, 122);
}