*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.form{
  text-align: center;
}
.container{
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  
  max-width: 60rem;
  margin: 1rem auto;
}
.card{
  padding: 0.2rem;
  height: 19rem;
  overflow: hidden;
  width: 12rem;
  text-align: center;
  border: 3px solid black;
}