*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form{
  text-align: center;
  box-shadow: ;
}
.container{
  margin:1rem auto;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 50rem;

}
.card{
  height: 15rem;
  width: 10rem;
  text-align: center;
  border: 3px solid black;
}